*~
.~lock.*#
*.backup
*.old
build.number
build
bin
platform-android/local.properties
platform-android/gen
platform-android/bin
platform-android/build
platform-j2me/bin
platform-j2me/build
platform-j2se-desktop/bin
platform-j2se-desktop/build
local.properties
reports
dist/*.jar
