<?xml version="1.0" encoding="utf-8"?>
	<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.openuat.apps.android" android:versionCode="1" android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/app_name_openuat">
        <!-- requires Bluetooth permission -->
		<activity android:label="@string/launcher_name_shake" 
				  android:name=".StartActivity"
				  android:taskAffinity=".StartActvity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ResultActivity" android:label="@string/launcher_name_shake"></activity>
		<activity android:name="SampleSinkAndroid" android:label="@string/launcher_name_shake"></activity>

        <!-- requires Internet permission -->
        <activity android:label="@string/launcher_name_scope" 
        		  android:name=".ReadSensor"
        		  android:taskAffinity=".ReadSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  requires Internet permission -->
        <service android:name=".WifiService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="org.openuat.android.apps.WifiService"></action>
            </intent-filter>
        </service>
	</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
</manifest> 